<form class="add-form">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="test" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="text">Day & Time</label>
        <input type="text" name="day" id="day" placeholder="Add Day & Time">
    </div>
      <div class="form-group form-check ml-2">
        <input
          class="mx-4"
          type="checkbox"
          name="reminder"
          id="reminder"
        />
        <label for="reminder">Set Reminder</label>
    </div>
    <input type="submit" value="Save Task" class="btn btn-block text-white mt-4" style="background-color: black;" />
</form>
